<style>
    .page {
        background: #EEEEEE;
        color:#454545;
        font-family: 'Source Sans Pro';
        line-height: 1.6;
        margin: auto;
        max-width: 650px;
    }
    body {
        background: #EEEEEE;
    }
</style>

<html>
  <head>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
  </head>
  <body>
    <div class=page>
        <h1>End-of-day company stock prices</h1>
        
        Choose company:
        <form action="/">
        <select name="company">
            {% for company in companies %}
                {% if company == current_company %}
                    <option selected value="{{ company }}">{{ company }}</option> 
                {% else %} 
                    <option value="{{ company }}">{{ company }}</option> 
                {% endif %}
            {% endfor %}
        </select><br>

        <input type="checkbox" name="full" value="True"> Show full price history? (Slower, default shows last 100 days)<br>
        
        <input type="submit">
        </form>
        
        Share price data from Alpha Vantage API
        {{ script | safe }}
        {{ div | safe }}
    </div>
  </body>
</html>